In [2]:
import pandas as pd

df = pd.DataFrame({"name" : ['김지훈', '이유진', '박동현', '김민지'],
                   "english": [90,80,60,70],
                   "math" : [50,60,100,20]})

print(df)

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [7]:
print(sum(df['english']))
print(sum(df['math']))
print(sum(df['english']/4))
print(sum(df['math']/4))

300
230
75.0
57.5

In [14]:
# Q1
df = pd.DataFrame({'제품' : ["사과","딸기","수박"],
       "가격" : [1800,1500,3000],
       "판매량" : [24,38,13]})

df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [15]:
# Q2

print(sum(df["가격"]/3))
print(sum(df["판매량"]/3))

2100.0
24.999999999999996